<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}" dir="{{ .Site.Params.LanguageDir | default "ltr" }}">
    <head>
    {{- partial "head.html" . -}}
    </head>
    <body>
        <header id="header" class="header">
        {{- partial "header.html" . -}}
        </header>
        <main id="main" class="main">
        {{- block "main" . }}{{- end }}
        </main>
        <footer id="footer" class="footer">
        {{- partial "footer.html" . -}}
        </footer>
        {{- partial "scripts.html" . -}}
    </body>
</html>
